/*.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 10rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: block;
    }
}*/

.container[b-anj6i9x647] {
 /*   background: pink;*/
    margin: 0;
}
.sidebar[b-anj6i9x647] {
    position:absolute;
    left:40px;
    height: 50px;
    width: 200px;
    color: pink;
}

.main-left[b-anj6i9x647] {
    height: 560px;
    width: 245px;
    background-color: #D6D7D8;
    position: absolute;
    top: 0px;
    left: 55px;
    display: flex;
    overflow: auto;
   
}

.search[b-anj6i9x647] {
    position: fixed;
    top: 0px;
    left: 55px;
    height: 60px;
    width: 245px;
    background-color: #F7F7F7;
    z-index: 9999;
}

input[b-anj6i9x647] {
    position: absolute;
    top: 23px;
    left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0.3px 0px rgba(0,0,0,0.2);
    border-collapse: collapse;
    border-style: none;
    background-color: #E2E2E2;
    font-size:14px;
}
.input-right[b-anj6i9x647] {
    position: absolute;
    top: 23px;
    height: 25px;
    width: 25px;
    left: 200px;
    background-color: #E2E2E2;
    border-radius: 5px;
    box-shadow: 0px 0.3px 0px rgba(0,0,0,0.2);
   
}
.input-right img[b-anj6i9x647]{
    height:20px;
    width:20px;
    position:absolute;
    left:2px;
    top:2px;
}
li[b-anj6i9x647]{
    list-style:none;
    margin:0;
    margin-bottom:1px;
    /*width:100%;*/
}
ul[b-anj6i9x647]{
    margin:0;
    padding:0;
}
img[b-anj6i9x647]{
    position:absolute;
    left:10px;
    top:8px;
    height:40px;
}
.chatlist[b-anj6i9x647] {
    width: 150px;
    height: 60px;
    background: #D6D7D8;
    position: relative;
}
.username[b-anj6i9x647]{
    position:relative;
    left:70px;
    color:#666;
    top:10px;
}
.content[b-anj6i9x647]{
    position:absolute;
    height:60px;
    color:#aaa;
    font-size:14px;
    top:15px;
    left:70px;
}
.time[b-anj6i9x647] {
    position: absolute;
    left: 180px;
    top: 12px;
    font-size: 12px;
    height: 20px;
    width: 50px;
   
}
.main-right[b-anj6i9x647] {
    height: 560px;
    width: 633px;
    background-color: #F5F5F5;
    position: absolute;
    top: 0px;
    left: 300px;
}
