/* /Pages/Counter.razor.rz.scp.css */
.contact[b-jcu8c0hwnn]{

}
.contact-left[b-jcu8c0hwnn] {
    height: 100%;
    width: 245px;
    background-color: pink;
    position: absolute;
    top: 0px;
    left: 55px;
    display: flex;
    
}
.search[b-jcu8c0hwnn] {
    position: fixed;
    top: 0px;
    left: 55px;
    height: 60px;
    width: 245px;
    background-color: #F7F7F7;
    z-index: 9999;
}
input[b-jcu8c0hwnn] {
    position: absolute;
    top: 23px;
    left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0.3px 0px rgba(0,0,0,0.2);
    border-collapse: collapse;
    border-style: none;
    background-color: #E2E2E2;
    font-size: 14px;
}
.input-right[b-jcu8c0hwnn] {
    position: absolute;
    top: 23px;
    height: 25px;
    width: 25px;
    left: 200px;
    background-color: #E2E2E2;
    border-radius: 5px;
    box-shadow: 0px 0.3px 0px rgba(0,0,0,0.2);
}

.input-right img[b-jcu8c0hwnn] {
        height: 20px;
        width: 18px;
        position: absolute;
        left: 3px;
        top: 2px;
    }
.list[b-jcu8c0hwnn]{
    position:absolute;
    
    height:100%;
    width:245px;
    background-color:gray;
}
ul[b-jcu8c0hwnn] {
    margin: 0;
    padding: 0;
}
 li img[b-jcu8c0hwnn] {
    position: absolute;
    left: 10px;
    top: 130px;
    height: 40px;
}
ul li input[b-jcu8c0hwnn] {
    position: absolute;
    top: 80px;
    left: 10px;
    height:40px;
    width:225px;
    border-radius:0;
    box-shadow: 0.3px 0.3px 0.3px rgba(0,0,0,0.2);
   /* border-collapse: collapse;*/
    border-style: none;
    background-color: whitesmoke;
    font-size: 14px;
}
.add[b-jcu8c0hwnn] {
    position: absolute;
    top: 90px;
    left: 70px;
    height:20px;
}
/* /Pages/FetchData.razor.rz.scp.css */
.navbar-toggler[b-70off47nuy] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-70off47nuy] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-70off47nuy] {
    font-size: 1.1rem;
}

.oi[b-70off47nuy] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-70off47nuy] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-70off47nuy] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-70off47nuy] {
        padding-bottom: 1rem;
    }

    .nav-item[b-70off47nuy]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-70off47nuy]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-70off47nuy]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-70off47nuy] {
        display: none;
    }

    .collapse[b-70off47nuy] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Pages/Index.razor.rz.scp.css */
/*.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 10rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: block;
    }
}*/

.container[b-anj6i9x647] {
    margin: 0;
    
}
/*.sidebar {
    position:absolute;
    left:40px;
    height: 50px;
    width: 200px;
    
}*/

.main-left[b-anj6i9x647] {
    height: 100%;
    width: 245px;
    background-color: #D6D7D8;
    position: absolute;
    top: 0px;
    left: 55px;
    display: flex;
    overflow: auto;
   
}

.search[b-anj6i9x647] {
    position: fixed;
    top: 0px;
    left:55px;
    height: 60px;
    width: 245px;
    background-color: #F7F7F7;
    z-index: 9999;
}

input[b-anj6i9x647] {
    position: absolute;
    top: 23px;
    left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0.3px 0px rgba(0,0,0,0.2);
    border-collapse: collapse;
    border-style: none;
    background-color: #E2E2E2;
    font-size:14px;
}
.input-right[b-anj6i9x647] {
    position: absolute;
    top: 23px;
    height: 25px;
    width: 25px;
    left: 200px;
    background-color: #E2E2E2;
    border-radius: 5px;
    box-shadow: 0px 0.3px 0px rgba(0,0,0,0.2);
   
}
.input-right img[b-anj6i9x647]{
    height:20px;
    width:20px;
    position:absolute;
    left:2px;
    top:2px;
}
.list[b-anj6i9x647]{
  /*  position:absolute;
    height:195px;
    width:245px;
    top:60px;
    */
}

li[b-anj6i9x647] {
   /* list-style: none;
    margin: 0;
    margin-bottom: 1px;*/
}
ul[b-anj6i9x647]{
    margin:0;
    padding:0;
}
img[b-anj6i9x647]{
    position:absolute;
    left:10px;
    top:8px;
    height:40px;
}
.chatlist[b-anj6i9x647] {
    width:150px;
    height: 60px;
    background: #D6D7D8;
    position: relative;
}
.username[b-anj6i9x647]{
    position:relative;
    left:70px;
    /*color:#666;*/
    color:black;
    font-size:14px;
    top:10px;
}
.content[b-anj6i9x647]{
    position:absolute;
    height:60px;
    color:#aaa;
    font-size:10px;
   
    top:15px;
    left:70px;
}
.time[b-anj6i9x647] {
    position: absolute;
    left: 180px;
    top: 12px;
    font-size: 12px;
    height: 20px;
    width: 50px;
}

.main-right[b-anj6i9x647] {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    position: absolute;
    top: 0px;
    left: 300px;
    
}
.top[b-anj6i9x647] {
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
}
.top-username[b-anj6i9x647] {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 1.1rem;
    
}
.top-dot[b-anj6i9x647] {
    position: fixed;
    right: 50px;
   
}
.top-dot img[b-anj6i9x647] {
    height: 15px;   
}
.bottom[b-anj6i9x647] {
    position:absolute;
    top:300px;
    bottom:40px;
    height: 150px;
    width:100%;
    margin: 0px 0px 500px 0px;
    background-color: pink; 
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
}
/* /Shared/MainLayout.razor.rz.scp.css */
*[b-15dgnaaxsx] {
    margin: 0px;
    padding: 0px;
    /*ȥ��������*/
    overflow-x: hidden;
}

.page[b-15dgnaaxsx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-15dgnaaxsx] {
   flex: 1;
}

.sidebar[b-15dgnaaxsx] {
    /* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #2E2E2E;
}

.top-row[b-15dgnaaxsx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    /* ����βλ�ÿ�ʼ���� */
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-15dgnaaxsx]  a, .top-row[b-15dgnaaxsx]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-15dgnaaxsx]  a:hover, .top-row[b-15dgnaaxsx]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-15dgnaaxsx]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-15dgnaaxsx] {
        display: none;
    }

    .top-row.auth[b-15dgnaaxsx] {
       justify-content: space-between;
    }

    .top-row[b-15dgnaaxsx]  a, .top-row[b-15dgnaaxsx]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-15dgnaaxsx] {
        flex-direction: row;
    }

    .sidebar[b-15dgnaaxsx] {
        width: 55px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

  /*  .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }*/

    .top-row[b-15dgnaaxsx], article[b-15dgnaaxsx] {
      /*  padding-left: 2rem !important;
        padding-right: 1.5rem !important;*/
    }
}


 

   


/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-d9daaww8hg] {
    /*background-color: rgba(255, 255, 255, 0.1);*/
    background-color: #2E2E2E;
}

/*.top-row {
    height: 3.5rem;
   background-color: rgba(0,0,0,0.4);
}*/

/*.navbar-brand {
    font-size: 1.1rem;
}*/

.oi[b-d9daaww8hg] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: 70px;
    left:-12px;
}


.nav-item[b-d9daaww8hg] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}
.nav-link img[b-d9daaww8hg]{
    position:absolute;
    top:90px;
    left:15px;
    height:25px;

}

.nav-item:first-of-type[b-d9daaww8hg] {
    padding-top: 1rem;
}

    .nav-item:last-of-type[b-d9daaww8hg] {
        padding-bottom: 1rem;
    }

    .nav-item[b-d9daaww8hg]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }
    /*���������ɫ*/
   .nav-item[b-d9daaww8hg]  a.active {
      /*  background-color: rgba(255,255,255,0.25);*/
        color: white;
    }

    .nav-item[b-d9daaww8hg]  a:hover {
      /*  background-color: rgba(255,255,255,0.1);*/
        color: white;
    }

@media (min-width: 641px) {
    .navbar-toggler[b-d9daaww8hg] {
        display: none;
    }

    .collapse[b-d9daaww8hg] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

img[b-d9daaww8hg]{
    position:absolute;
    top:30px;
    left:7px;
    height:40px;
    
}
