* {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

*::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 4px;
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}
