@page "/counter"

@*<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}*@
<div class="contact">
    <div class="contact-left">
        <div class="search">
            <input type="text" placeholder="搜索" />
            <span class="input-right">
                <img  src="./img/add.png"/>
            </span>
        </div>
        <div class="list">
           
                <ul>
                    <li>
                        
                        <input  type="button" placeholder="通讯录管理" />
                    <img src="./img/add.png"  class="add"/>
                    <span>通讯录管理

                    </span>
                    
                        <div>
                            新的朋友
                        </div>
                       <img src="./img/avatar.jpg" />
                       <div class="username">
                        sunTest
                       </div>
                    </li>

                    <div></div>
                </ul>
            
            
            

        </div>
        
       
    </div>
    <div class="contact-right">
       
    </div>
</div>
