@page "/"
<div class="container">
    <div class="main-left">
        <span class="search">
            <input type="text" placeholder="搜索" />
            <span class="input-right">
                <img src="./img/plus.png" />
            </span>
        </span>

        <div class="list">
            <ul>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                            木木
                        </div>
                        <div class="content">在干嘛在干嘛  </div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                            sunTest
                        </div>
                        <div class="content">哈哈哈哈哈哈</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                            木木  
                        </div>
                        <div class="content">哈哈哈</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                          sun
                        </div>
                        <div class="content">哈哈哈</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                            sun
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                           木木
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                           木木
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                          小明
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                            moon
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                           木木
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/avatar.jpg" />
                        <div class="username">
                         木木
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>




            </ul>
        </div>

    </div>
    <div class="main-right">
      <div class="top">
          <span class="top-username">
              木木
          </span>
          @*<span class="top-icon">
              <img  src="./img/mark.png" />
          </span>
          <span class=" top-line">
              <img src="./img/line.png" />
          </span>
            <span class=" top-square">
               <img src="./img/square.png" />
          </span>
          <span class=" top-forks">
                <img src="./img/Forks.png" />
          </span>*@
            <span class=" top-dot">
                <img src="./img/dot.png" />
            </span>
      </div>
      <div class="bottom">
          <h1>666</h1>
      </div>
    </div>



</div>
