@page "/"
<div class="container">
    <div class="main-left">
        <span class="search">
            <input type="text" placeholder="搜索" />
            <span class="input-right">
                <img src="./img/加号_o.png" />
            </span>
        </span>

        <div>
            <ul>
                <li>
                    <div class="chatlist">
                        <img  src="./img/头像.jpg"/>
                        <div class="username">
                            <strong>木木</strong>
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>sun</strong>
                        </div>
                        <div class="content">哈哈哈</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>sun</strong>
                        </div>
                        <div class="content">哈哈哈</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>sun</strong>
                        </div>
                        <div class="content">哈哈哈</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>木木</strong>
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>木木</strong>
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>木木</strong>
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>木木</strong>
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>木木</strong>
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>木木</strong>
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>
                <li>
                    <div class="chatlist">
                        <img src="./img/头像.jpg" />
                        <div class="username">
                            <strong>木木</strong>
                        </div>
                        <div class="content">在干嘛</div>
                        <div class="time">11:20</div>
                    </div>
                </li>




            </ul>
        </div>

    </div>
    <div class="main-right">
       
    </div>



</div>
